<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 


    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- Bootstrap Table core -->
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table-locale-all.min.js"></script>

    <!-- Export dependencies -->
    <script src="~/lib/tableexport.jquery.plugin/tableexport.min.js"></script>

    <!-- Bootstrap Table export extension -->
    <script src="~/lib/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Bootstrap Table CSS -->
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DocumentGenerationApplication.styles.css" asp-append-version="true" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <style>
      
    </style>
</head>
<body>
    <header>
       
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    @* <img src="../lib/images/RigvedIT_Logo.png" style="height: 55px; margin: 0px 20px 0px 20px;" /> *@
                    <img src="../lib/images/rigvedLogo.png" style="height: 50px; margin: 0px 20px 0px 20px;" />

                </div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    @if (User.Identity.IsAuthenticated)
                    {

                        <div class="container">


                            <div class="row">
                                @* <div class="col-md-10">

                                    <ul class="navbar-nav flex-grow-1">
                                     

                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Salary" asp-action="CalculateSalaryBreakdown">Fill Form</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="GetAllOfferLetters">Offer Letter</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="GetAllAppointmentLetters">Appointment Letter</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="">Appraisal Letter</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="">Promotional Letter</a>
                                        </li>

                                    </ul>
                                </div> *@

                                <div class="col-md-10">
                                    <ul class="navbar-nav flex-grow-1">
                                        <!-- Keep Fill Form separate -->
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Salary" asp-action="CalculateSalaryBreakdown">
                                                Fill Form
                                            </a>
                                        </li>

                                        <!-- Dropdown for all other letters -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark" href="#" id="lettersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Records
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="lettersDropdown">
                                                <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="GetAllOfferLetters">
                                                        Offer Letters
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="GetAllAppointmentLetters">
                                                        Appointment Letters
                                                    </a>
                                                </li>
                                                @* <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="">
                                                        Internship Offer Letters
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="">
                                                        Relieving & Experience Letters
                                                    </a>
                                                </li> *@
                                            </ul>
                                        </li>


                                        @* <!-- Dropdown for Salary Revive -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark" href="#" id="salaryReviveDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Salary Revive
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="salaryReviveDropdown">
                                            
                                                <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="">
                                                        Appraisal
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="">
                                                        Promotion
                                                    </a>
                                                </li>
                                            
                                            </ul>
                                        </li> *@

                                    </ul>
                                </div>


                                <div class="col-md-2">
                                    <ul class="navbar-nav mr-2">
                                        <partial name="_LoginINfo" />
                                    </ul>
                                </div>
                            </div>
                                                    
                        </div>
                       
                    }
               
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <br />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - DocumentGenerationApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>





    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script> *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
