html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Pagination links - normal state */
.page-link {
    color: #7066E0; /* text color */
}

    /* Pagination links - hover state */
    .page-link:hover {
        background-color: #e8e8ff; /* optional light background on hover */
        color: #7066E0;
    }

/* Active page number */
.page-item.active .page-link {
    background-color: #7066E0 !important;
    border-color: #7066E0 !important;
    color: white !important;
}

/* Disabled page numbers (optional, subtle style) */
.page-item.disabled .page-link {
    color: #b3b3b3;
    background-color: #f8f9fa;
    border-color: #dee2e6;
}
