@model DocumentGenerationApplication.Models.UserModel.ChangePasswordModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "ChangePassword";
}


<html>
<head>

</head>
<body style="background: #E3E3E3">

    <h4 style="margin-top:50px;margin-bottom:10px;">Change Password</h4>

    <div>
        <!-- Display the alert message using ViewBag -->
        <!-- Success Alert -->
        @if (ViewBag.IsSuccess == true)
        {
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    Swal.fire({
                        title: 'Success!',
                        text: 'Data updated successfully',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                });
            </script>
        }

        <!-- Failure Alert -->
        @if (ViewBag.IsSuccess == false)
        {
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    Swal.fire({
                        title: 'Failed!',
                        text: 'Error while updating data',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                });
            </script>
        }
    </div>

    <div class="row">
        <div class="col-md-4">

            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="CurrentPassword" class="control-label"></label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ConfirmNewPassword" class="control-label"></label>
                    <input asp-for="ConfirmNewPassword" class="form-control" />
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Update Password" class="btn text-white" style="background-color: #7066E0;" />

                </div>
            </form>
        </div>
    </div>

    <div style ="margin-top:10px;">
        <a asp-action="Logout">Back to Login</a>
    </div>

</body>
</html>


